
    <!-- jQuery -->
    <script src="{{ path.absoluta }}js/jquery.js"></script>
    <script src="{{ path.absoluta }}js/jquery-ui.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ path.absoluta }}js/bootstrap.min.js"></script>
    <script src="{{ path.absoluta }}js/bootstrap-select.js"></script>
    <script src="{{ path.absoluta }}js/scriptDatos.js"></script>
    <script src="{{ path.absoluta }}js/scriptAsistencia.js"></script>
    <script src="{{ path.absoluta }}js/footable.js"></script>
    <script src="{{ path.absoluta }}js/footable.filter.js"></script>
    <script src="{{ path.absoluta }}js/footable.paginate.js"></script>
    <script src="{{ path.absoluta }}js/footable.sort.js"></script>
    <!-- Morris Charts JavaScript -->
    <!-- <script src="{{ path.absoluta }}js/plugins/morris/raphael.min.js"></script>
    <script src="{{ path.absoluta }}js/plugins/morris/morris.min.js"></script>
    <script src="{{ path.absoluta }}js/plugins/morris/morris-data.js"></script>-->
   <script src="{{ path.absoluta }}js/scriptIndex.js"></script>


