<section class="h_top_part">
	<div class="container">
		<div class="row clearfix">
			<div class="col-lg-4 col-md-4 col-sm-3 t_xs_align_c">
				<p class="f_size_small">Bienvenido <a href="{{ path.sitio }}#" data-popup="#login_popup">Ingresa</a> o <a href="{{ path.sitio }}#">Crea una cuenta</a> </p>
			</div>
			<nav class="col-lg-4 col-md-4 col-sm-6 t_align_c t_xs_align_c">

				<ul class="d_inline_b horizontal_list clearfix f_size_small users_nav">
					<li><a href="{{ path.sitio }}#" class="default_t_color">Mi Cuenta</a></li>
					<li><a href="{{ path.sitio }}orders_list.html" class="default_t_color">Mis Ordenes</a></li>
					<li><a href="{{ path.sitio }}wishlist.html" class="default_t_color">Lista de deseos</a></li>
					<li><a href="{{ path.sitio }}checkout.html" class="default_t_color">Pagos</a></li>
				</ul>							
			</nav>
		</div>
	</div>
</section>