.btnlist,.aSelIcon{
	width: 30px;
    height: 30px;
    background-color: ghostwhite;
    border: none;
}

.aSelIcon{
	    color: gray!important;
    text-align: center;
    vertical-align: middle;
    display: inherit;
}

.footable{
	    border: none !important;
}
.footable > thead > tr > th, .footable > thead > tr > td{
	    background-color: rgba(0, 0, 0, 0.55) !important;
	    border:none !important;
}
.footable > tfoot > tr > th, .footable > tfoot > tr > td {
	background-color: rgba(0, 0, 0, 0.55) !important;
	border:none !important;	
}

.footable1{
	    border: none !important;
}
.footable1 > thead > tr > th, .footable1 > thead > tr > td{
	    background-color: rgba(0, 0, 0, 0.55) !important;
	    border:none !important;
}
.footable1 > tfoot > tr > th, .footable1 > tfoot > tr > td {
	background-color: rgba(0, 0, 0, 0.55) !important;
	border:none !important;	
}

.selected{
	background-color: #CEE6CE;
}
.asistenciasBoton
{
	position: relative;
}
.conteo{
	margin-left: 10px;
    font-size: 16px;
    padding-top: 2px;
    text-align: center;
    top: 1em;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    display: block;
    background: #ED9939;
}
.hide{
	display: none;
}
a{
	cursor: pointer;
}
.asistencia-final{
	border: 1px solid #333;
}

#table2 .footable{

}