<h2 style="display: block;  margin: 0; padding: 0; margin: auto; text-align: center; width: 100%; color: rgb(6, 116, 189); font-family: helvetica;">Solicitud de reestablecimiento de contraseña</h2>
<br/>
<div  style="text-align: center; width: 700px;background: whitesmoke;margin: auto;">
<table style="width: 100%; font-family: helvetica;border-bottom: 2px solid rgb(6, 116, 189);background: white;">
	<thead>
		<tr>
		<td style="color: gray; padding: .5em;">
			<img src="http://www.cta.org.co/images/logo-cta-25.png" width="200">
		</td>
			<td style="color: gray; text-align: justify;">
				Hola **nombre**, si usted no autorizó esta accion, por favor haga caso omiso de este correo.<br><br>De lo contrartio ingrese al siguiente vinculo en las proximas 12 horas para reestablecer su contraseña<br/><br/><a style="text-decoration: none; color: rgb(6, 116, 189); font-weight: bold;" target="_blank" href="http://www.galileoinstruments.net/tienda">sitio web click aquí</a><p style="font-size: 12px;"></p>
			</td>
		</tr>		
	</thead>	
</table>
<br/>
<br/>
<table style="width: 100%;border-top: solid 2px rgb(6, 116, 189);background: white;">
	<tbody>
		<tr>
			<td style="color: gray; text-align: center; font-family: helvetica;">
				Ante cualquiere inconveniente  comuniquese con el administrador del sistema <br/> <strong>Gracias por su solicitud</strong>
			</td>
		</tr>
	</tbody>
</table>
</div>